

body {
    background-color: #eae7dc;
    background-color: #fafafb;
}


header, footer {
    /* background-color: #eae7dc; */
    background-color: #badfe7;
}

main {
    background-color: white;

}


.row.alternate {
    background-color: #F5F5F5;
}

nav a {
    color: #444;
}


footer, footer a, footer a, footer a:visited,footer a:active {
    color: #333;
}


