

body {
    background-color: #eae7dc;
}


header, footer {
    background-color: #eae7dc;

}

main {
        background-color: white;

}


.row.alternate {
    background-color: #F5F5F5;
}

nav a {
    color: #444;
}


footer, footer a {
    color: #333;
}


