
/* CSS Responsive Grid 12 grid-cols 
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    ----- */

* {
    box-sizing: border-box;
}

.grid-col1 {
    width: 8.33%;
}

.grid-col2 {
    width: 16.66%;
}

.grid-col3 {
    width: 25%;
}

.grid-col4 {
    width: 33.33%;
}

.grid-col5 {
    width: 41.66%;
}

.grid-col6 {
    width: 50%;
}

.grid-col7 {
    width: 58.33%;
}

.grid-col8 {
    width: 66.66%;
}

.grid-col9 {
    width: 75%;
}

.grid-col10 {
    width: 83.33%;
}

.grid-col11 {
    width: 91.66%;
}

.grid-col12 {
    width: 100%;
}

.grid-row > [class*="grid-col"] {
    float: left;
}


.grid-row:after {
    content: "";
    clear: both;
    display: table;
}

.grid-row .padding-left {
    padding-left: 30px;
}

.grid-row.padding-right {
    padding-right: 30px;
}



/* Responsive ----- */

/* Phones */
@media only screen and (max-width: 640px) {
    .grid-row.responsive > [class*="grid-col"] {
        width: 100%;
        /*background: red;*/
    }

    .grid-row .padding-left {
    padding-left: 0px;
}

.grid-row.padding-right {
    padding-right: 0px;
}

}

/* Tablets portrait */
@media only screen and (min-width: 641px) and (max-width: 900px) {
    .grid-row.responsive > [class*="grid-col"] {
        width: 50%;
        /*background: green;*/
    }
}

/* Tablets landscape */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .grid-row.responsive > [class*="grid-col"] {
        /*width: 33.33%;*/
        /*background: blue;*/
    }
}

/* PC */
@media only screen and (min-width: 1025px) {
    .grid-row.responsive > [class*="grid-col"] {
        /*background: orange;*/
    }
}
