

h1 {
    margin-top: 30px;
}

.h1-home {
    margin-top: auto;
}

h2 {
    margin-top: 50px;
}

.home h2 {
    margin-top: auto;
}

nav a, footer a, footer a:visited, footer a:active {
    color: #555;
}

footer {
    padding-top: 10px;
}

pre {
    font-size:smaller;
    padding:10px;
    border:solid 1px gainsboro;
}


.image-left {
    float: left;
    width: 50%;
    height: 300px;
}

.copyright {
    font-size: 90%;
    padding-left: 10px;
}

    .copyright a {
        color: #0288D1;
    }

.news {
    display: inline-block;
    overflow: auto;
    /*min-width: 70%;*/
    max-height: 90px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 2px gainsboro;
    /*background-color:whitesmoke;*/
}

    .news ul {
        padding-left: 20px;
        padding-right: 0px;
        margin: 0px;
        font-size: 15px;
    }

    .news li {
        margin-bottom: 3px;
    }

.width640 {
    width: 640px;
}

.max-width640 {
    max-width: 640px;
}

.height68 {
    height: 68px;
}
