
/* Layout ----- */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /*background-color: #ebe5d9;*/
    background-color: #eae7dc;
}

header {
    overflow: hidden;
    /*background-color: #ebe5d9;*/
    background-color: #eae7dc;
}

nav {
    text-align: right;
    float: right;
    margin-top: 14px;
}

main {
    min-height: 300px;
    background-color: white;
}

footer {
    /*background-color: #ebe5d9;*/
    background-color: #eae7dc;
}

    footer ul {
        padding-left: 20px;
    }

main, footer {
    overflow: auto;
}

.header-title {
    float: left;
    padding-top: 8px;
    padding-bottom: 6px;
}

header, footer {
    padding-left: 5%;
    padding-right: 5%;
}

.site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
    font-weight: bold;
    color:#555;
    /*padding-top: 30px;
    padding-bottom: 30px;*/
}

.site-description {
    display: none;
}

.content-padding {
    padding-left: 8%;
    padding-right: 8%;
}

.content-row {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-row2 {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}

/* Sticky Header  -----------------------------------------*/

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#header2 {
    height: 2.3em;
    background-color:white;
}


/* Html5 ----- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}


/* Responsive ----- */

/* Phones  */
@media only screen and (max-width: 767px) {

    .header-title {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #header2 {
    height: 1.8em;
}

    nav {
        margin-top: 8px;
    }

    .site-title {
        font-size: 120%;
    }

    .content-padding {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Tablets  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}


/* Computers  */
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
}
