

/* Typography ----- */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    /*font-weight:500;*/
    color: #545454;
}

a, a:visited, a:active {
    color: #0288D1;
    text-decoration: none;
}

    a:hover {
        color: #F44336;
        /*text-decoration: underline;*/
    }
    
    
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #555;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 130%;
}

h4, h5, h6 {
    font-size: 120%;
}

h5, h6 {
    font-size: 110%;
}

p {
    max-width: 40em;
    line-height: 1.3em;
}

textarea {
    max-width: 100%;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
}

img {
    max-width: 100%;
}

/*ul {
    padding-left: 20px;
    margin-left: 10px;
}

li {
    line-height: 1.4em;
    margin-bottom: 0.3em;
}*/



dt {
    font-weight: bold;
    margin-left: 10px;
}

dd {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}




/* Responsive ----- */

/* Phones  */
@media only screen and (max-width: 767px) {

    body {
        font-size: 20px;
    }
}


/* Tablets  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 20px;
    }
}


/* Computers  */
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
    body {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
}


/* Big Screen  */
@media only screen and (min-width: 1600px) {
}
